<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue SPA</title>
    <style>
      body{
        margin: 0 auto;
        max-width: 780px;
        padding: 0px 12px;
      }
    </style>
  </head>
  <body>
    <div id="app">

      <h1>{{title}}</h1>
      
      <!-- Eventos Vue / : or @ -->
      <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
      <input type="number" v-model="cantidad" @keyup.enter="agregarFruta">
      <button v-on:click="agregarFruta"> Agregar</button>

      <ul>
        <li v-for="fruta of frutas">
          <!-- <input type="number" v-model.number="fruta.cantidad" @keyup.enter="agregarCantidad"> -->
          
          {{fruta.nombre}}  /
          Cantidad: {{fruta.cantidad}} -
          <button @click="fruta.cantidad++"> + </button>
          <button @click="fruta.cantidad--"> - </button>
          <span v-if="fruta.cantidad === 0"> - Sin stock</span>
        </li>
      </ul>

      <!-- COMPUTED -->
      <h4>TOTAL : {{sumarFrutas}}</h4>

      
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="01.js"></script>
</html>
